.body{
	display:block;
	width:80%;
	margin: auto;
}
.usuario{
	width:100%;
	height:1000px;
	background-color:red;
}
.twittes{
	background-color:blue;
	height:1000px;
}
.seguir{
	background-color:green;
	height:1000px;
}