#templates{
    display: none;
}
.container{
	padding: 0px;

}

p{
	text-align: center;
}
.calculadora div{

	padding: auto 0;


}
.calculadora buttom{
	width:0;
}
.btn{
	widows:100%;
	border-style: 1px solid black;
}
.calculadora div{
            padding: 0;
        }
        .input{
            text-align: right;
        }
        
        .btn{
            width:100%; 
        }
