body{
	font-size: 14px;
	color:black;
h1{
	margin: 2% auto 2% auto;
	font-size:50px;
}
a{
	text-decoration:none;
	color:blue;
}
a:hover{
	text-decoration: underline;
}
h1:hover{
	text-decoration: underline;
}
.ima-avion{
	margin-top: 20px;
}
.titulo{
	padding-left;
}
*{
	padding:15px;
	font-family: Arial;
}

@media (max-width: 767px){    /*celulares*/
	.columna25{
		width: 100%;
	}
	body{
		background: url(../imagenes/avion.jpg) no-repeat;
	}
	a{
		color:white;
	}
	*{
		color:white;
		padding:0px;
		font-family: "Times New Roman", Georgia, Serif;
	}
}

@media (min-width: 768x) and (max-width: 1000px){   /*tablet*/
	body{
		background: url(../imagenes/avion.jpg) no-repeat;
}

@media (min-width: 1001) and (max-width: 4080px){     /*pc*/
	body{
		background: url(../imagenes/avion.jpg) no-repeat;
}