.remove{
        display: none;
        color: #ff0000;
        border: none;
        background-color:white;
        }
#templates{
    display: none;

}
ul{
    list-style: none;
    }  
ul li:hover .remove{
                    display: inline-block;
                    }
